li{
	list-style: none;
	margin: 0 0 30px;
	display: inline-block;
	text-align: center;
	position: relative;
}
ul{
	padding-left: 0;
}
img{
	min-width: 50px;
	min-height: 50px;
	max-width: 50%;
	max-height: 50%;
	border-radius: 10px;
	margin:auto;
}
li>a{
	display: block;
}
.title{
	font-size: 1em;
	display: inline-block;
}
.test{
	display: none;
	position: absolute;
	z-index: 2;
	width: calc(100% - 30px);
	text-align: center;
}
.description{
	font-size: 0.7em;
	z-index: 2;
	background-color: #333333;
	border: 1px solid #dddddd;
	padding: 5px;
	display: inline-block;
}
.help{
	border:none;
	background-color: unset;
	color: unset;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
}
p{
	margin: 0;
}
body{
	padding: 2%;
	background-color: #222222;
}
.container{
	margin-top: 5px;
	border-radius: 10px;
	background-color: #333333;
	color: #dddddd;
	padding: 2%;
}
.help:hover + .test, .help:focus + .test, .help:active + .test{
	display: block;
}